@tailwind base;
@tailwind components;
@tailwind utilities;

.text-primary {
    color: var(--color-primary);
}

.text-secondary {
    color: var(--color-secondary);
}

.text-tertiary {
    color: var(--color-tertiary);
}

.border-primary {
    border-color: var(--color-primary);;
}

.border-secondary {
    border-color: var(--color-secondary);
}

.border-tertiary {
    border-color: var(--color-tertiary);
}

.bg-primary {
    background-color: var(--color-primary);;
}

.bg-secondary {
    background-color: var(--color-secondary);
}

.bg-tertiary {
    background-color: var(--color-tertiary);
}

.bg-light {
    background-color: var(--color-light-gray);
}

.fill-primary {
    fill: var(--color-primary);;
}

.fill-secondary {
    fill: var(--color-secondary);
}

.fill-tertiary {
    fill: var(--color-tertiary);
}

:root {
    --color-primary: #225378;
    --color-secondary: #c0779d;
    --color-tertiary: #ffffff;
    --color-light-gray: #ebf3f9;

    --sizing-min-width: "320px";
    --sizing-max-width: "1200px";

    color: var(--color-primary);
    background: #fff;
}

body {
    min-width: var(--sizing-min-width);
    max-width: var(--sizing-max-width);
    margin: auto;
}

.--no-scroll {
    overflow: hidden;
}

img .-lg {
    width: 100%;
    height: auto;
}

a, button:not([disabled]):focus {

}

